[user]
  name = Ned Batchelder
  email = ned@nedbatchelder.com

[github]
  user = nedbat

[alias]
  br = branch
  co = checkout
  ci = commit
  di = diff
  st = status -s -b
  s = status -s -b
  lhist = log --pretty=format:\"%h %C(green dim)%ad%C(reset)%C(auto)%d%C(reset) %s %C(cyan)%an%C(reset)\" --graph --date=short
  h = !sh -c 'git --no-pager log -n 15 --pretty=format:\"%h %C(green dim)%ad%C(reset)%C(auto)%d%C(reset) %s %C(cyan)%an%C(reset)\" --graph --date=short && echo'
  hist = !sh -c 'git --no-pager log -n 15 --pretty=format:\"%h %C(green dim)%ad%C(reset)%C(auto)%d%C(reset) %s %C(cyan)%an%C(reset)\" --graph --date=short && echo'
  out = !git hist origin/master..HEAD
  oneoff = !sh -c 'git commit -m \"${2?Commit message required}\" --dry-run && git checkout -b ${1?Branch prefix required}/$(echo \"${2?Commit message required}\" | sed \"s/ /-/g\" | tr \"[A-Z]\" \"[a-z]\") && git commit -m \"${2?Commit message required}\" && git push' -
  fixup = !sh -c 'git rebase -i $(git merge-base HEAD ${1:-origin/master})' -

  # Checkout a local branch for a pull request on GitHub
  #   $ git copr 1234             # gets and switches to pr/1234 from origin
  #   $ git copr 789 otherguy     # gets and switches to pr/789 from otherguy remote
  # from https://gist.github.com/gnarf/5406589
  # discussed at http://nedbatchelder.com/blog/201407/fetching_github_pull_requests.html
  copr = "!f() { git fetch -fu ${2:-origin} refs/pull/$1/head:pr/$1 && git checkout pr/$1; }; f"

  # Make a pull request with hub.
  pr = "!f() { hub pull-request "$@"; }; f"

  # I'm done with this merged branch, ready to switch back to another one.
  brdone = "!f() { brname=\"$(git symbolic-ref --short HEAD)\" && git checkout $@ && git pull && git branch -d $brname; }; f"

  # I do this a lot, it seems.
  rhh = reset --hard HEAD

[color]
  ui = true

[color.diff]
  plain = white
  old = red
  new = green
  meta = white blue
  whitespace = red reverse
  frag = cyan reverse
  func = white dim reverse

[push]
  default = simple

[rebase]
  autosquash = true

[branch]
  autosetupmerge = true
  autosetuprebase = always

[core]
  pager = less -q
  excludesfile = ~/.gitignore_global
